{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Book Exchange
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet" title="text/css">
</head>

<body>
<header>
    {#START OF NAVBAR#}
    <nav class="navbar navbar-expand-md navbar-dark sticky-top align-baseline" style="background-color: #0f3057;">
        {#    LOGO#}
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo-resized.png' %}" width="150"
                                                              height="75" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% for item in item_list %}
                            <a class="dropdown-item" href="{{ item.link }}"> {{ item.item }} </a>
                        {% endfor %}

                    </div>
                </li>

                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}?next=/">Login</a>
                    {% endif %}
                </li>
            </ul>

            <form action="{% url 'search_results' %}" method="get" class="form-inline mt-2 mt-md-0">
                <input name="q" type="text" class="form-control mr-sm-2" placeholder="Search a book.."
                       aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>


            {% if user.is_authenticated %}
                <span class="badge badge-success"
                      style="margin-left: 1em; margin-right: 1em;">{{ user.username }}</span>
            {% else %}
                <span class="badge badge-secondary" style="margin-left: 1em; margin-right: 1em;">Not Logged In </span>
            {% endif %}
        </div>
    </nav>
</header>


<div id="">
    {#    <header id="header">#}
    {#                <div id="logo">#}
    {#                    <img src="{% static 'logo.png' %}" width="150" height="150" alt=""/>#}
    {#                    <span id="top-menu" style="float: right;">#}
    {#                        {% if user.is_authenticated %}#}
    {#                            {{ user.username }}#}
    {#                            <a href="{% url 'logout' %}?next=/"> Logout </a>#}
    {#                        {% else %}#}
    {#                            Login#}
    {#                            <a href="{% url 'login' %}?next=/"> Login </a>#}
    {#                        {% endif %}#}
    {#                    </span>#}
    {#                </div>#}
    {#        <div id="topbanner">#}
    {#            <img src="{% static 'topbanner.jpg' %}" width="800" height="200" alt=""/>#}
    {#        </div>#}
    {#    </header>#}
    <section id="">
        {% block content %}
            Hello
        {% endblock content %}
    </section>
    {#    <aside id="leftsidebar">#}
    {#        <nav id="nav">#}
    {#            <ul>#}
    {#                {% block sidenav %}#}
    {#                    <li>Menu 1</li>#}
    {#                    <li>Menu 2</li>#}
    {#                    <li>Menu 3</li>#}
    {#                {% endblock sidenav %}#}
    {#            </ul>#}
    {#        </nav>#}
    {#    </aside>#}


    {#    <footer class="" id="footer"> CS3337 Django Web System</footer>#}
</div>
<footer class="container-fluid fixed-bottom my-auto py-auto align-text-bottom align-bottom" id="footer">
    <p>&copy; CS3337 Django Web System</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>