{% extends "base.html" %}
{% load static %}

{% block title %}
    User Login
{% endblock title %}

{% block sidenav %}
    <li>
        <a href="/"> Home </a>
    </li>
{% endblock sidenav %}

{% block content %}
    <div class="container">

        <div class="container  mx-auto align-self-center" align="center">
            <div class="badge badge-pill badge-dark  mt-4">
                <h1 align="center"
                    class="display-4 my-auto px-3 py-2"> User Login </h1></div>
        </div>

        <div class="container my-auto mx-auto">
            <div class="container py-auto my-3 col-sm-4 align-self-center">
                <form action="{% url 'login' %}" method="post">
                    <div class="form-group">
                        <table class="table table-borderless table-sm" align="center">
                            {{ form.as_table }}
                            <tr>

                                <td>
                                    <a href="{% url 'register' %}" class="btn btn-primary btn-block mt-3"
                                       style="background-color: #008891; color: #FFFFFF;">Register</a>
                                </td>
                                <td class="">
                                    <input class="btn btn-dark btn-block mt-3" type="submit" value="Login">
                                </td>
                            </tr>
                            {#                            <div class="alert alert-dark " role="alert">#}
                            {#                                To Register <a href="{% url 'register' %}"> Click Here </a>#}
                            {#                            </div>#}
                        </table>
                    </div>

                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}