{% extends "base.html" %}
{% load static %}

{% block title %}
    Checkout
{% endblock title %}

{#{% block sidenav %}#}
{#    {% for item in item_list %}#}
{#        <li>#}
{#            <a href="{{ item.link }}"> {{ item.item }} </a>#}
{#        </li>#}
{#    {% endfor %}#}
{#{% endblock sidenav %}#}


{% block content %}

    <div class="container-fluid">

        <div class="container " align="center">
            <div class="badge badge-pill badge-dark  mt-4">
                <h1 align="center" class="display-4 mx-auto my-auto px-3 py-2">
                    Checkout </h1>
            </div>
        </div>

    </div>


{% endblock content %}