{% extends "base.html" %}
{% load static %}

{% block title %}
    Display Books
{% endblock title %}

{#{% block sidenav %}#}
{#    {% for item in item_list %}#}
{#        <li>#}
{#            <a href="{{ item.link }}"> {{ item.item }} </a>#}
{#        </li>#}
{#    {% endfor %}#}
{#{% endblock sidenav %}#}


{% block content %}

    <div class="container-fluid">
        <div class="container " align="center">
            <div class="badge badge-pill badge-dark  mt-4"><h1 align="center"
                                                               class="display-4 mx-auto my-auto px-3 py-2"> All
                Books </h1></div>
        </div>

        {% include 'partials/_filterbooks.html' %}


        <table class="table table-hover mx-auto my-4 text-align-center" id="my-books-table" border="2" width="800">
            <thead class="thead-dark">
            <tr>
                <th scope="col"> Name</th>
                <th scope="col"> Price</th>
                <th scope="col"> Date</th>
                <th scope="col"> Image</th>
                <th scope="col">Posted By</th>

            </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td class="lead">
                        <a href="book_detail/{{ book.id }}" align="">
                            {{ book.name }}
                        </a>
                    </td>
                    <td class="lead">{{ book.price }}</td>
                    <td class="lead">{{ book.publishdate }}</td>

                    <td class="lead"><img src="{% static book.pic_path %}" width="40" height="40" alt=""></td>
                    <td class="lead">
                        {{ book.username }}
                    </td>

                </tr>
            {% endfor %}
        </table>
        {% include 'partials/_pagination.html' %}


            {#    *** START OF SECOND VIEW ***#}
{#        <div class="container-fluid mx-auto py-auto my-auto">#}
{#            <div class="container-fluid mx-auto py-auto text-align-center">#}
{#                <div class="row mx-5 my-5">#}
{#                    {% for book in books %}#}
{#                        <div class="col-md-3 my-auto py-3">#}
{#                            <div class="card ">#}
{#                                <img src="{% static book.pic_path %}" class="card-img-top" alt="">#}
{#                                <div class="card-body text-left">#}
{#                                    <div class="container">#}
{#                                        <h3 id="nm{{ book.id }}" class="card-title text-center ">{{ book.name }}</h3>#}
{#                                        <div class="row justify-content-center">#}
{#                                            <p class="card-text text-center"><small class="text-muted">Posted#}
{#                                                By:</small></p>#}
{#                                            <p class="badge badge-pill badge-dark mt-auto text-center mx-2">{{ book.username }}</p>#}
{#                                        </div>#}
{#                                        <div class="row justify-content-center">#}
{#                                            <div id="price{{ book.id }}" class="card-text lead mb-3 text-center">Price:#}
{#                                                ${{ book.price }}</div>#}
{#                                        </div>#}
{##}
{#                                        <div class="row justify-content-start">#}
{#                                            <h5 class=" mb-2">Description: </h5>#}
{#                                            <p>Description goes here when i make a description to go here</p>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <div class="container-fluid">#}
{#                                        <a href="book_detail/{{ book.id }}" class="btn btn-dark btn-block">View</a>#}
{#                                        <button id="{{ book.id }}" class="btn atc btn-primary btn-block">Add to#}
{#                                            cart#}
{#                                        </button>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {#    *** END OF SECOND VIEW ***#}


    </div>

{% endblock content %}