{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<main role="main">

    {# JUMBOTRON #}
    <div class="jumbotron">
        <div class="container my-3">
            <h1 class="display-4" align="center">Welcome to Book Exchange System!</h1>
            <p align="center">Our online book marketplace allows users to buy, sell, and browse books from all over
                the world.
                You'll be sure to find an interesting and/or rare books right from the collection of our users. Or
                even add one yourself. Enjoy your book search!</p>
            <div align="center">
                <p><a class="btn btn-lg" href="#" role="button" style="background-color: #008891; color: #FFFFFF;">
                    Find out more &raquo;
                </a></p>
            </div>
        </div>
    </div>

    {# DESCRIPTION CARDS #}
    <div class="container-fluid mb-auto">
        <div class="card-deck mt-auto mb-5 mx-auto pt-auto pb-5">

            {# BROWSE CARD #}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'browse.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Browse</h3>
                    <p class="card-text">Search the collection of books created by our users. Discover something new
                        or find that rare book you have been searching for.</p>
                    <a href="{% url 'displaybooks' %}" class="btn"
                       style="background-color: #008891; color: #FFFFFF;">Browse Books</a>
                </div>
            </div>

            {# BUY CARD #}
            <div class="card">
                <img class="card-img-top" src="{% static 'buy.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Buy</h3>
                    <p class="card-text">Buy and negotiate book prices asked for buy the seller. Arrange pickup with
                        the seller if nearby, or shipping if not. Purchasing books will always be an enjoyable
                        experience!</p>
                    <a href="{% url 'displaybooks' %}" class="btn btn-primary"
                       style="background-color: #008891; color: #FFFFFF;">Buy Book</a>
                </div>
            </div>

            {# SELL CARD #}
            <div class="card">
                <img class="card-img-top" src="{% static 'sell.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Sell</h3>
                    <p class="card-text">Book collection beginning to take up space? Rare book collector? Sell books
                        right from your collection at the price you find fair.</p>
                    <a href="{% url 'postbook' %}" class="btn btn-primary"
                       style="background-color: #008891; color: #FFFFFF;">Sell Book</a>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}